$primary: #dfc0eb;

@import "../node_modules/bulma/bulma.sass";


* {
  box-sizing: border-box;
}

.main {
  height: 100%;
}

.form-container {
  height: 80%;
}

.form,
.cards {
  width: 60%;
}

.cards {
  margin-top: 500px;
}

div[class$="-box"] {
  height: 20px;
  width: 10%;
}

.dark-blue-box {
  background-color: #0015bc;
}

.blue-box {
  background-color: rgba(#0015bc, 0.6);
}

.light-blue-box {
  background-color: rgba(#0015bc, 0.3);
}

.neutral-box {
  background-color: #f8f8ff;
}

.light-red-box {
  background-color: rgba(#de0100, 0.3);
}

.red-box {
  background-color: rgba(#de0100, 0.6);
}

.dark-red-box {
  background-color: #de0100;
}

@for $i from 0 to 6 {
  .mv-arrow-#{$i} {
    margin-left: (18.5 + $i * 10) * 1%;
  }
}
