:root {
    --width: 260px;
  }

body {
    min-width: var(--width);
    min-height: 560px;
    background-color: #d9e3ef;
}

p {
    line-height: 70%;
}

.dialogue {
    position:relative;
    top: -8px;
    color: #416ca4;
    font-size: 16px;
    translate:
}

.dialogueLarge {
    position:relative;
    top: -8px;
    color: #416ca4;
    font-size: 24px;
}

.author {
    color: darkblue;
    font-size: 13px;
}

.card {
    margin: 6px 6px 12px 6px;
    height: 100px;
    width: 85%;
    padding: 5% 10px 5% 10px;  
    border-radius: 15px;
    background-color: white;
    position: relative;
}

button {
    border-radius: 20px;
   float: right;

}

.viewButton {
    margin-left: 4px;
    background-color: darkred;
    color: white
}

.dismissButton {
    background-color: white;
    color: darkred
}

div.scroll {
    margin-top: 10px;
    margin-left: -8px;
    margin-right: -8px;
    width: var(--width);
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4px;
    position:absolute;
    bottom:0;
    width:100%;
    background-color: #426ca4;
}

.flex-container {
    display: flex;
}

.topBarItem {
    top: 4px;
}

img.logo {
    width: 24px;
    height: 24px;
}

.signIn {
    margin-left: auto;
    color: red;
    font-size: 16px;
}

.analyticBox {
    color: white;
    background-color: var(--color);
    border-radius: 4px;
    height: 16px;
    margin: 4px;
    font-size: 16px;
}

.analyticBox-small {
    color: white;
    background-color: var(--color);
    border-radius: 2px;
    height: 12px;
    margin: 2px;
    font-size: 12px;
}

.horizontally-aligned {
    width: 33%;
    float: left;
}

.score-container {
    padding-bottom: 4px;
    padding-top: 10px;
    background-color: #edf2f8;
    border-radius : 6px;
}

.score-container-small {
    border-radius : 4px;
    text-align: center
}

.score-container-small {
    margin-left:20px;
    margin-right:20px;
}

.analyticSubtitle {

}