body {
    background-color: #d9e3ef;
}

label {
    display: block;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.login_signup_form input {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    padding: .75em 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}
