:root {
    --width: 260px;
  }

body {
    min-width: var(--width);
    min-height: 560px;
    background-color: lightgrey;
}

p {
    line-height: 70%;
}

.dialogue {
    position:relative;
    top: -8px;
    color: darkcyan;
    font-size: 16px;
    translate:
}

.dialogueLarge {
    position:relative;
    top: -8px;
    color: darkturquoise;
    font-size: 24px;
}

.author {
    color: darkblue;
    font-size: 13px;
}

.card {
    margin-top: 12px;
    width: 85%;
    height: 100px;
    padding: 5% 10px 5% 10px;  
    border-radius: 15px;
    background-color: white;
    position: relative;
}

button {
    border: 1px black solid;
    border-radius: 20px;
   float: right;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.viewButton {
    margin-left: 4px;
    background-color: darkred;
    color: white
}

.dismissButton {
    background-color: white;
    color: darkred
}

div.scroll {
    margin: 0;
    width: var(--width);
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    position:absolute;
    bottom:0;
    width:100%;
}

.flex-container {
    display: flex;
}

.topBarItem {
    top: 4px;
}

img.logo {
    width: 24px;
    height: 24px;
}

.signIn {
    margin-left: auto;
    color: red;
    font-size: 16px;
}

.analyticBox {
    color: white;
    background-color: var(--color);
    border-radius: 4px;
    height: 16px;
    margin: 4px;
    font-size: 16px;
}

.analyticBox-small {
    color: white;
    background-color: var(--color);
    border-radius: 2px;
    height: 12px;
    margin: 2px;
    font-size: 12px;
}

.horizontally-aligned {
    width: 33%;
    float: left;
}

.score-container {

}

.score-container-small {
    margin-left:20px;
    margin-right:20px;
}

.analyticSubtitle {

}